<div class="decision-container" style="padding-left:20px;padding-right:20px;min-height:1000px">
  <h1>Заказы</h1>

  <table class="table table-hover">
    <thead>
      <tr>
	<th>Телефон</th>
	<th>Адрес</th>
	<th>Имя</th>
	<th>Email</th>
	<th>Модель</th>
	<th>Комментарии к заказу</th>
	<th>Создан</th>
	<th>Изменен</th>
	<th>Статус</th>
	<th>Автор изменения</th>
	<th>Комментарии по статусу</th>
	<th></th>
	<th></th>
      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
	<tr>
          <td><%= lead.phone %></td>
          <td><%= lead.address %></td>
          <td><%= lead.name %></td>
          <td><%= lead.email %></td>
	  <td><%= lead.color %></td>
	  <td><%= lead.comments %></td>
	  <td><%= lead.created_at.in_time_zone('Moscow').to_formatted_s(:short)%></td>
	  <td><%= lead.updated_at.in_time_zone('Moscow').to_formatted_s(:short) %></td>
	  <td><%= lead.status %></td>
	  <td><%= lead.updated_by %></td>
	  <td><%= lead.admin_comments %></td>
          <td><%= link_to 'Изменить', edit_lead_path(lead) %></td>
          <td><%= link_to 'Удалить', lead, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
	</tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
  
</div>

