<%= form_for @hamster, html:{role:"form", class:"form table-glass blue"} do |f| %>
  <% if @hamster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hamster.errors.count, "error") %> prohibited this hamster from being saved:</h2>

      <ul>
      <% @hamster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :phone, "Телефон*" %><br>
    <%= f.text_field :phone, class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :address, "Адрес доставки*" %><br>
    <%= f.text_field :address, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name, "Имя*" %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :color, "Цвет" %><br>
    <%= f.select :color, options_for_select([['Коричневый','Коричневый' ], ['Серый', 'Серый']]), {}, {:class =>"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :comments, "Комментарии к заказу" %><br>
    <%= f.text_area :comments, class:"form-control", rows:"3" %>
  </div>
  <div class="actions">
    <%= f.submit "Заказать",class:"btn"%>
  </div>
<% end %>
