<div class='attention-container'>
  <div class='centered-container'>
    <h1>Говорящие Хомячки-Повторюши</h1>
    <h2>Самая качественная игрушка от Woody O'Time</h2>
    <table>
      <tr>
	<td class='first-level-td'>
	  <div class='carousel-wrapper'>
	    <%=render :partial=>'shared/framed'%>
	    <div id="carousel" class='carousel slide' data-ride="carousel">
	      <ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
		<li data-target="#carousel" data-slide-to="3"></li>
	      </ol>

	      <div class="carousel-inner">
		<div class="item active">
		  <%=image_tag 'carousel/1.png', :alt=>'Инспектор ДПС'%>
		  <div class="carousel-caption">
		    <h3>Инспектор ДПС</h3>
		  </div>
		</div>

		<div class="item">
		  <%=image_tag 'carousel/2.png', :alt=>'Двое из Ларца'%>
		  <div class="carousel-caption">
		    <h3>Двое из Ларца</h3>
		  </div>
		</div>

		<div class="item">
		  <%=image_tag 'carousel/3.png', :alt=>'2'%>
		  <div class="carousel-caption">
		    <h3>Три мушкетера</h3>
		  </div>
		</div>

		<div class="item">
		  <%=image_tag 'carousel/4.png', :alt=>'2'%>
		  <div class="carousel-caption">
		    <h3>The Beatles</h3>
		  </div>
		</div>

		
	      </div>
	      <a class="left carousel-control" href="#carousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	      </a>
	      <a class="right carousel-control" href="#carousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	      </a>
	    </div>
	  </div>
	  <br />
	  
	  <div id="video2" class="video">
	    <%=render :partial=>'shared/framed'%>
	    <iframe width="450" height="280" src="https://www.youtube.com/embed/3chqTeR0dok" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <br />
	</td>
	<td class='first-level-td'>
	  <table>
	    <tr>
	      <td>
		<%=render :partial=>'bullet', :locals=>{:img_src=>'Laugh.png', :heading=>'Неиссякаемый источник позитивного настроения', :text=>"Хомячок позволит Вам посмеяться от Души! Просто посмотрите видеоролики, чтобы убедиться в этом самостоятельно. Его обожают даже сотрудники ДПС!"}%>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<%=render :partial=>'bullet', :locals=>{:img_src=>'Gift.png', :heading=>'Отличный подарок на День Рождения', :text=>"Не знаете что подарить на день рождения? Говорящий Хомячок отличный подарок, который запомнит не только именинник, но и все гости!"}%>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<%=render :partial=>'bullet', :locals=>{:img_src=>'Baby.png', :heading=>'Превосходная игрушка даже для Малышей', :text=>"Давно мечтали хоть немного отдохнуть от Малыша и предоставить его самому себе? Просто оставьте рядом с ним Говорящего Хомячка, а сами занимайтесь своими делами!"}%>
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>

  </div>
</div>

<div id="buy" class="decision-container">
  <div class="centered-container">
    <table>
      <tr>
	<td>
	  <div class="price">
	    <p>650 руб.</p>
	  </div>
	  <div class="offer-container">
	    <%=image_tag 'Orange-Hamster.png', id:'orange_hamster_image'%>
	    <%=image_tag 'Blue-Hamster.png', class:'hide', id:'blue_hamster_image'%>
	    <ul>
	      <li>Цена 650 рублей</li>
	      <li>Доставка по Москве 250 руб.</li>
	      <li>Оригинальный хомячок Woody O'Time</li>
	      <li>Гарантия 14 дней</li>
	    </ul>
	  </div>
	</td>
	<td>
	  <%= render 'form' %>
	</td>
      </tr>
    </table>
  </div>
</div>

<div id='reviews' class="review-container">
  <div class="centered-container">
    <h2>Будем Вам благодарны за Ваши отзывы</h2>
    <div id="vk_comments"></div>
    <script type="text/javascript">
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "940", attach: "*"});
      </script>
  </div>
</div>

<div id='success_modal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Большое спасибо за заказ!</h4>
      </div>
      <div class="modal-body">
        <p>В ближайшее время наш оператор свяжется с Вами для подтверждения заказа.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='error_modal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Что-то пошло не так...</h4>
      </div>
      <div class="modal-body">
        <p>Мы не смогли получить ваш заказ. Пожалуйста, напишите свой номер телефона на info@homa-online.ru. Наш оператор свяжется с Вами для уточнения заказа.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='callback_modal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Callback</h4>
      </div>
      <div class="modal-body">
	<%= form_for @hamster, html:{role:"form", class:"form-inline"} do |f| %>
	<div class="form-group">
	  <%= f.text_field :phone, class:"form-control", placeholder:'Phone'%>
	</div>
	    <%= f.submit "Ok",class:"btn btn-primary"%>
	<%end%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='callback_success_modal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">XXX</h4>
      </div>
      <div class="modal-body">
        <p>В ближайшее время наш оператор свяжется с Вами для подтверждения заказа.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
