<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @hamster.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hamster.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hamster.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hamster.email %>
</p>

<%= link_to 'Edit', edit_hamster_path(@hamster) %> |
<%= link_to 'Back', hamsters_path %>
