<!DOCTYPE html>
<html>
  <head>
    <title>Hamster</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header-container">
      <div class="centered-container">
	<%=image_tag 'Logo.png', alt:'Логотип Хома Онлайн', class:'logo'%>
	<span class="shop-name"><h1>Хома Онлайн</h1></span>
	<span class="contacts">
	  <p>Интернет-магазин говорящих игрушек</p>
	  <p>info@homa-online.ru</p>
	</span>
      </div>
    </div>
    <%= yield %>    
  </body>
</html>
